@font-face {
  font-family: 'iranian';
  src: url('./Fonts/irsans.ttf')  format('truetype')
}

*{
  font-family: 'iranian';
}
h1,h2,h3,h4,h5,h6,li,td,th,address,strong{
  font-family: 'iranian' !important;
}


.page-header .page-header-menu .hor-menu{
  float: right;
}
th,.page-title{
  text-align: justify;
  direction: rtl;
}
.page-head .page-title{
  float: right;
}
.hor-menu .navbar-nav{
  padding: 0;
}
.page-header .page-header-menu .search-form{
  float: left;
}
.table-scrollable{
  border: 0;
}
.table{
  direction: rtl;
}
.table-scrollable{
  margin: 30px auto !important;
}


/*datatables*/
.data_btn{
  margin-left: 25px;
}
.data_btn i{
  color: rgb(67, 81, 97);
}



/*pages*/
.form-body{
  direction: rtl;
}
.form-body .input-icon input{
  padding-right: 30px;
}
.form-body .input-icon i{
  margin-right: 10px;
}

/* invoice */
#rtl_layout{
  direction: rtl;
  text-align: justify;
}
