@font-face {
  font-family: 'iranian';
  src: url('./Fonts/irsans.ttf')  format('truetype')
}
body{
  background: #F8F8F8;
}
.top-header{
  background: #fff;
}
*{
  font-family: 'iranian';
}

.rtl_layout{
  direction: rtl;
  text-align: justify;
}
.rtl_layout .checkbox-inline{
    direction: ltr;
    margin-left: 25px
}
.page-logo a img{
    margin: 0 !important;
}
.auth_container{
  direction: rtl;
  text-align: justify;
}
/* Nvaigation */
.navbar-nav{
  direction: rtl;
  float: right;
  text-align: justify;
}
.navbar-nav >li{
  text-align: justify;
  float: right;
}
.input-serach{
  text-align: right;
  direction: rtl;
  float: right;
padding-right: 70px;
margin-top: 9px;
}
/*Main Page*/
.map_main{
  background: url('header_bg.jpg');
  background-size: cover;
}
.map_main .jvectormap-zoomout,.map_main .jvectormap-zoomin{
  display: none;
}
.page-product-box .heading{
  float: right;
}



/*company*/
#company_info{
  direction: rtl;
  text-align: justify;
}
 #product .pb-right-column .form-option .attributes .attribute-label{
   float: right;
 }

 #product .pb-right-column .form-option .attributes .attribute-label{
   width: 100px;
 }
#map_helper{
  direction: rtl;
  margin-top: 70px;
  margin-right: 30px;
}

#map_helper li{
    margin-bottom: 28px;
}
#map_helper span{
  float: right;
  clear: both;
  display: inline-block;;
  width: 20px;
  height: 20px;
  text-align: justify;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#map_helper h4{
  font-size: 16px;
  padding-right: 40px;
  cursor: pointer;
}
#map_helper i{
  color: #81D5D3;
  font-size: 35px;
  position: relative;
top: 25px;
}
.service-wapper .text{
  direction: rtl;
  text-align: justify;
}
.service-wapper p{
  direction: rtl;
  text-align: justify;
}



/* scope page */
.box-vertical-megamenus .vertical-menu-content{
  display: block;
}
.box-vertical-megamenus .vertical-menu-list{
  border-bottom: 1px solid #eaeaea;
}
.box-vertical-megamenus .vertical-menu-list li{
  padding-bottom: 1.4px;
}
#scope_list{
  direction: rtl;
  text-align: justify;
}
#scope_list li{
  padding: 20px 0;
  float: right;
  display: inline;
  margin-left: 30px;
}

#scope_list #current_scope{
  font-weight:bolder;;
}

.show-brand .navbar-brand a{
  font-size: 13px;
}
.product-list li{
  float: right;
}
.product-featured .product-list li{
  direction: rtl;
  text-align: justify;
}


/* Group*/

.product-list.style2.grid .add-to-cart a:before{
  background: none;
  margin: 0;
}

.product-list .product-container{
  text-align: justify;
}
#left_column .block{
  direction: rtl;
  text-align: justify;
}
#left_column .block .title_block{
  padding-right: 10px;
}
/*
[5. Category featured]
*/

 .show-brand .navbar-brand{
	width: 200px;
	position: relative;
	padding-left: 10px;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
}
 .show-brand .navbar-brand img{
	margin-right: 10px;
}
 .show-brand .navbar-brand>a:hover{
	color: #fff;

}
 .show-brand .navbar-brand:after{
	content: '';
	width: 12px;
	height: 20px;
	position: absolute;
	right: 5px;
	color: #fff;
	font-weight: normal;
	background: url("../images/icon-angle-right.png") no-repeat right center;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
 .nav-menu{
	margin-bottom: 0;
}
 .nav-menu .nav>li>a{
	background: none;
	padding: 14px 15px;
	margin-left: 10px;
}
 .nav-menu .nav>li>a:after{
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f0d8";
	position: absolute;
	bottom: -40px;
	left: 50%;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #fff;
	-webkit-transition: all 0.3s ease-out 0s;
	  -moz-transition: all 0.3s ease-out 0s;
	  -o-transition: all 0.3s ease-out 0s;
	  transition: all 0.3s ease-out 0s;
	  opacity: 0;
	  visibility: hidden;
}
 .nav-menu .nav>li>a:before{
	content: '';
	width: 100%;
	height: 1px;
	background: #fa8334;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: scale(0, 1);
}
 .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #fa8334;
}
 .nav-menu .nav>li:hover a,
 .nav-menu .nav>li.active a{
}

 .nav-menu .nav>li:hover a:before,
 .nav-menu .nav>li.active a:before{
	transform: scale(1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
 .nav-menu .nav>li:hover a:after,
 .nav-menu .nav>li.active a:after{
	color: #fa8334;
	bottom: -6px;
	opacity: 1;
	visibility: inherit;
}

 .product-featured{
	margin-top: 0;
}
 .product-featured .sub-category-list{
	float: left;
	padding: 20px 30px;
	line-height: 30px;
	background: #fff;
}
 .product-featured .product-featured-tab-content{
}
 .product-featured .product-featured-tab-content .box-left{
	width: 40%;
	float: left;
	border-left: 1px solid #eaeaea;
}
 .product-featured .product-featured-tab-content .box-right{
	width: 60%;
	float: left;
}
 .product-featured .product-featured-tab-content .box-full{
	width: 100%;
	float: left;
	border-left: 1px solid #eaeaea;
}
 .product-featured .product-featured-tab-content .box-full .product-list li{
	width: 20%;
	float: left;
	border-bottom: none;
}
 .product-featured .product-featured-tab-content .category-banner{
	padding-right: 0;
}
 .product-featured .product-featured-tab-content .category-banner img{

}
 .product-featured .product-featured-tab-content .category-list-product{
	padding-left: 0;
}
 .product-featured .product-list{
	margin-left: 0;
	margin-right: 0;

}
 .product-featured .product-list li{
	padding: 0;
	min-height: inherit;
	border-right: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	padding-bottom: 3px;
	min-height: 286px;
}

 .product-featured .owl-prev,
 .product-featured .owl-next {
  background: transparent;
  width: 28px;
  height: 28px;
  color: #ccc;
  text-align: center;
  padding-top: 0;
  font-size: 48px;
}
 .product-featured .owl-next{
	background: url("../images/next.png") no-repeat center center;
}
 .product-featured .owl-prev{
	background: url("../images/prev.png") no-repeat center center;
}
 .product-featured .owl-prev .fa,
 .product-featured .owl-next .fa{
	font-weight: normal;
	line-height: 28px;
	display: none;
}
 .product-featured .owl-prev:hover{
	background: url("../images/prev.png") no-repeat center center;
}

 .product-featured .owl-next:hover{
	background: url("../images/next.png") no-repeat center center;
}

 .product-featured .deal-product{
	line-height: 24px;
	border-right: 1px solid #eaeaea;
	overflow: hidden;
	padding-bottom: 23px;
}
 .product-featured .deal-product .deal-product-head{
	text-align: center;
}
 .product-featured .deal-product .deal-product-head h3{
	position: relative;
    z-index: 1;
    margin-top: 15px;
}
 .product-featured .deal-product .deal-product-head h3:before{
	border-top: 1px solid #eaeaea;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 40%; left: 40px; right: 40px; bottom: 0;
    width: 95%;
    z-index: -1;
    width: 300px;/*
    -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);*/
}
 .product-featured .deal-product .deal-product-head h3>span{
	background: #fff;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
}
 .product-featured .deal-product .deal-product-content .deal-product-info{
	padding-left: 0;
}
 .product-featured .deal-product .deal-product-content{
	margin-top: 10px;
}
 .product-featured .deal-product .price{
	margin-top: 4px;
}
 .product-featured .deal-product .price span{
	margin-right: 10px;
}
 .product-featured .deal-product .price .product-price{
	color: #f96d10;
	font-size: 18px;
}
 .product-featured .deal-product .price .old-price{
	text-decoration: line-through;
}
 .product-featured .deal-product .price .sale-price{
	background: url("../images/sale-bg.png") no-repeat;
	color: #fff;
	padding: 0 7px;
}
 .product-featured .deal-product .product-star{
	color: #febf2b;
	margin-top: 15px;
}
 .product-featured .deal-product .product-desc{
	margin-top: -3px;
}
 .product-featured .deal-product .show-count-down{
	overflow: hidden;
	margin-top: 11px;
	font-family: 'Arial Narrow', Arial, sans-serif;
	line-height: normal;
}
 .product-featured .deal-product .show-count-down .dot{
	display: none;
}
 .product-featured .deal-product .show-count-down .box-count{
	font-size: 20px;
	color: #717171;
	background: #f6f6f6;
	text-align: center;
	width: 45px;
	height: 47px;
	display: table-cell;
	float: left;
	margin-right: 5px;
}
 .product-featured .deal-product .show-count-down .box-count .number{
	width: 45px;
	font-size: 18px;
	display: table;
	margin-top: 4px;
}
 .product-featured .deal-product .show-count-down .box-count .text{
	width: 45px;
	font-size: 14px;
	display: table;
}
 .product-featured .manufacture-list{
	padding-right: 0;
	float: left;
	overflow: hidden;
}
 .product-featured .manufacture-list .manufacture-waper{
	border: 1px solid #eaeaea;
	padding: 44px 0px 44px 0;
	border-top: none;
	position: relative;
	border-bottom: none;
}
 .product-featured .manufacture-list .manufacture-waper ul{
	padding: 0 20px;
	background: #fff;
}

 .product-featured .manufacture-list .manufacture-waper .owl-prev{
	position: absolute;
	top: -16px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #eaeaea;
}
 .product-featured .manufacture-list .manufacture-waper .owl-next{
	position: absolute;
	bottom: -64px;
	top: inherit;
	left: 0;
	right: 0;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding-top: 12px;
	height: 42px;
}
 .product-featured .manufacture-list .manufacture-waper .owl-controls .owl-nav{
	margin: 0;
	padding: 0;
}
 .product-list li .add-to-cart:hover{
	opacity: 1;
}
 .product-list li .add-to-cart a {
	  background: url("../images/icon-cart-option2.png") no-repeat left center;
}
 .product-list li .quick-view a.compare:before{
	  content: "\f066";
}

/** OPTION CATEGORY **/

 .category-featured.fashion .sub-category-list a:hover{
	color: #ff3366;
}
 .category-featured.fashion .navbar-brand{
	background: #ff3366;
}
 .category-featured.fashion .navbar-brand a:hover{
	color: #fff;
}
 .category-featured.fashion .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #ff3366;
}
 .category-featured.fashion .nav-menu .nav>li:hover a,
 .category-featured.fashion .nav-menu .nav>li.active a{
	color: #ff3366;
}

 .category-featured.fashion .nav-menu .nav>li:hover a:after,
 .category-featured.fashion .nav-menu .nav>li.active a:after{
	color: #ff3366;
}

 .category-featured.fashion .nav-menu .nav>li>a:before{
	background: #ff3366;
}

 .category-featured.fashion .product-list li .add-to-cart {
	background-color: rgba(255, 51, 102, 0.7);
	background: rgba(255, 51, 102, 0.7);
	color: rgba(255, 51, 102, 0.7);
}
 .category-featured.fashion .product-list li .add-to-cart:hover {
	background: #ff3366;
}

 .category-featured.fashion .product-list li .quick-view a.search:hover,
 .category-featured.fashion .product-list li .quick-view a.compare:hover,
 .category-featured.fashion .product-list li .quick-view a.heart:hover{
	background-color: #ff3366;
	opacity: 0.9;
}

/** sports **/
 .category-featured.sports .sub-category-list a:hover{
	color: #00a360;
}
 .category-featured.sports .navbar-brand{
	background: #00a360;
}
 .category-featured.sports .navbar-brand a:hover{
	color: #fff;
}
 .category-featured.sports .nav-menu .navbar-collapse {
	background: #fff;
	border-bottom: 2px solid #00a360;
}
 .category-featured.sports .nav-menu .nav>li:hover a,
 .category-featured.sports .nav-menu .nav>li.active a{
	color: #00a360;
}
 .category-featured.sports .nav-menu .nav>li:hover a:after,
 .category-featured.sports .nav-menu .nav>li.active a:after{
	color: #00a360;
}

 .category-featured.sports .nav-menu .nav>li>a:before{
	background: #00a360;
}

 .category-featured.sports .product-list li .add-to-cart {
	background-color: rgba(0, 163, 96, 0.7);
	background: rgba(0, 163, 96, 0.7);
	color: rgba(0, 163, 96, 0.7);
}
 .category-featured.sports .product-list li .add-to-cart:hover {
	background: #00a360;
}
 .category-featured.sports .product-list li .quick-view a.search:hover,
 .category-featured.sports .product-list li .quick-view a.compare:hover,
 .category-featured.sports .product-list li .quick-view a.heart:hover{
	background-color: #00a360;
	opacity: 0.9;
}


/*footer*/
#address-list{
  direction: rtl;
  text-align: justify;
}
#address-list .tit-name{
  width: 91px;
}
#address-list .tit-name{
  float: right;
  margin-left: 15px;
}


/*home page*/
.main-menu{
  width: auto;
  float: right;
}
.language{
  margin-top: 6px;
}
.main-header{
  padding: 15px 0;
}
#main-menu .navbar .navbar-nav>li>a{
  font-size: 12px;
}
.user-info{
  margin-top: 28px
}
.menu_auth{
  float: right;
  margin-left: 20px;
}
.dropdown-menu{
  right: 0px;
  direction: rtl;
  left: auto;
  text-align: justify;
}
.menu_auth .dropdown-menu{
  width: 270px;
  padding: 10px
}
.jvectormap-container{
  background:transparent !important;
}
.services{
  margin: 20px auto;
}
.main_group_list .services-item img{
  height: 250px;
}
.service-wapper{
  text-align: center;
}
.service-wapper h3{
  padding-top:10px;
  text-align: center;
  font-size: 16px;
}

.foote_languages li{
  float: right;
  /*margin-left: 20px;*/
  padding: 0 20px;
  border-left: 1px solid rgb(87, 87, 87);
}
.foote_languages li:last-child{
  border: 0;
}

.footer_social li{
  margin-right: 20px;
  float: left;
}
.footer_social{
  padding-left: 80px;
  direction: rtl;
}
.footer_social i{
  font-size: 18px;
}
.footer_social h4{
  direction: rtl;
  text-align: justify;
}

#footer hr{
  width: 50%;
  margin: 20px auto;
  margin: 0px auto;
  border-color: rgb(79, 79, 79) !important;
}
.footer_menu{
  text-align: center;
  padding-left: 30px;
}
.footer_menu li{
  float: right;
  margin-left: 25px
}
